

  <div class="row">
    <div>
      <%= render 'books/search_form' %>
      <br>
    </div>

    <% @book.each do |book| %>

      <div class="col-md-3">
        <a href="/books/<%= book.id %>">
          <%= image_tag(book.image, size: '200x200',class: "book") if book.image.attached? %>
          <h4 class="book-title"><%= book.title %></h4>

        </a>

        <div style="text-align: center">
          <%= form_for(@order_item, remote: true) do |f| %>
            <%= f.hidden_field :book_id, value: book.id %>
            <h5><%= book.price %></h5>
            <div class="form-group" style="text-align: center">
              <%= f.text_field :quantity, value: 1, min: 1, class: 'form-control' %>
            </div>
            <%= f.submit "Add to cart", class: 'btn btn-primary btn-sm' %>
          <% end %>
        </div>
      </div>

    <% end %>

  </div>
  <br>

<%= link_to "Add Book", new_book_path %>